.info {
    padding-bottom: 267px;
}

.info__article {

}

.info__img {
    width: 200px;
    height: 200px;
}

.info__block {

}

.info__block-pretitle {
    opacity: 0.8;
    margin-bottom: 21px;
}

.info__block-title {
    color: $color-river-bed;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 21px;
}

.info__block-text {

}

.info__facts {

}

.info__fact {

}

.info__fact-cat {

}

.info__ps {

}
