@import "../../../../../styles/mixins.pcss";

.btn-underlined {
  color: $color-white;
  opacity: 0.9;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;

  @include phones {
    position: absolute;
    top: 2.21rem;
    left: calc(5% + 3.1rem);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}
