.tag {
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 50px;
  background: #fff;
  color: rgba(40, 51, 64, 0.5);
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 13px;
}

.tag__title {
  padding-right: 10px;
}

.interactive {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: $color-oxford-blue;
  opacity: 0.8;
  background-color: $color-catskill-white;
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
