script(type="text/x-template")#examples-container
  .examples__wrapper
    examples-slider(
      :currentExample="currentExample"
      :examples="examples"
      @slide="slide"
    )
    examples-info(
      :currentExample="currentExample"
    )

script(type="text/x-template")#examples-slider
  .examples__slider(:data-slide="currentExample.id")
    .examples__slider-img-wrapper
      img(:src="currentExample.img" class="examples__slider-img")
    examples-img-min(
      :currentExample="currentExample"
      :examples="reversedExamples"
    )
    examples-controls(
      @slide="$emit('slide', $event)"
    )

script(type="text/x-template")#examples-img-min
  ul.examples__slider-list
    li.examples__slider-item(
        v-for="example in examples" 
        :key="example.id"
        :class="{active: currentExample.id == example.id}"
      )
      button.examples__slider-btn
        img(:src="example.img").examples__slider-img--min

script(type="text/x-template")#examples-controls
  .examples__slider-controls
    button(type="button")(
      @click="$emit('slide', 1)"
    ).examples__slider-control.examples__slider-control--prev
    button(type="button")(
      @click="$emit('slide', -1)"
    ).examples__slider-control.examples__slider-control--next

script(type="text/x-template")#examples-info
  .examples__info
    examples-tags(
      :currentExample="currentExample"
    )
    p.examples__info-name {{currentExample.title}}
    p.examples__info-text {{currentExample.descr}}
    a(:href="currentExample.link", target="_blank").examples__info-link.link Посмотреть сайт

script(type="text/x-template")#examples-tags
  ul.examples__info-tags
    li.examples__info-tag(v-for="tag in currentExample.skills")
      p.examples__info-tag--name {{tag}}
