script(type="text/x-template")#reviews-container
  .container
    .reviews__wrapper
      h2.section__title.reviews__title Что обо мне говорят
      .reviews__controls
        button(
            type="button"
            @click="slide(-1)"
            :class="{'disabled': isDisabledPrev}"
        ).reviews__button.reviews__button-prev
        button(
            type="button"
            @click="slide(1)"
            :class="{'disabled': isDisabledNext}"
          ).reviews__button.reviews__button-next
    .reviews__container
      swiper(
        ref="slider"
        :options="sliderOptions"
        :reviews="reviews"
        @slideChange="btnDisabledHandler"
      ).reviews__list
        swiper-slide(
          v-for="review in reviews" 
          :key="review.id"
        ).reviews__item
          p.reviews__text {{ review.text }}
          .reviews__author-block
            .reviews__img-wrapper
              img(:src="review.photo").reviews__img
            .reviews__author
              p.reviews__author-name {{ review.author }}
              p.reviews__author-position  {{ review.occ }}
