script(type="text/x-template")#skills-block
  .skills__chart
    skills-chart(
      v-for="category in skills" 
      :key="category.id"
      :category="category"
      )
  
script(type="text/x-template")#skills-chart
  div
    p.skills__chart-title {{ category.name }}
    .skills__chart-wrapper
      svg.visually-hidden
        defs
          linearGradient#linear
            stop(offset='27%' stop-color='#4A00ED')
            stop(offset='70%' stop-color='#7C00EA')
      skills-progress(
      v-for="skill in category.skills" 
      :key="skill.id"
      :skill="skill"
      )

script(type="text/x-template")#skills-progress
  +skill-progress-bar('')
