footer
  .container.footer__container
    .footer__wrapper
      p.footer__copyright ©&nbsp;2020
      .footer__info
          p.footer__author Владимир Астахов
          p.footer__descr Личный&nbsp;сайт веб&#8209разработчика
    .footer__block
        +nav-list('footer__nav-list', 'footer__nav-item')
        p.footer__block-text Этот сайт я&nbsp;сделал в&nbsp;рамках обучения в&nbsp;Школе&nbsp;онлайн образования Loftschool
        +social-list('footer__social-list', 'footer__social-item', 'footer__social-img', true)
    .footer__quote
        p.footer__quote-expr Всегда пишите код так, будто сопровождать его будет склонный к&nbsp;насилию психопат, который знает где&nbsp;вы&nbsp;живете
        p.footer__quote-author Martin Golding
