header#header
  .container
    include ./top-bar.pug
    .header__wrapper
      p.header__pretitle Личный сайт веб&#8209разработчика
      p.header__title Владимир Астаханов
    .header__down-arrow
      a(href="#info").header__down-arrow-link Скролл
  include ./info.pug 
