header
  .header__wrapper
    p.header__logo Ğ’Ğ
    +nav-list('header__menu-list', 'header__menu-item')
    +social-list('header__social-list', 'header__social-item', 'header__social-img', false)
    include ./navigation.pug 
