section.info#info
  .container
    article.info__article
      .info__data
        .info__img-wrapper
          +image('content/avatar.jpg', 'info__img', 200, 200)
        .info__facts-wrapper
          ul.info__facts-list
            li.info__fact-item.info__fact-item--cat Проживаю:
            li.info__fact-item.info__fact-item--cat Возраст:
            li.info__fact-item.info__fact-item--cat Родился:
          ul
            li.info__fact-item Новосибирск
            li.info__fact-item 27 лет
            li.info__fact-item 1 января 1991
      .info__block
        p.info__pretitle Привет, меня зовут
        p.info__title Владимир Астаханов
        p.info__text Я занимаюсь разработкой современных сайтов и&nbsp;приложений. Мне&nbsp;нравится делать интересные и&nbsp;современные проекты.
        p.info__ps Этот сайт я&nbsp;сделал в&nbsp;рамках обучения в&nbsp;Школе онлайн образования LoftSchool. Чуть позже я&nbsp;освежу в&nbsp;нём свой&nbsp;контент. А&nbsp;пока посмотрите, как&nbsp;тут всё&nbsp;классно и&nbsp;красиво!
include ./triangles.pug
