section.info
  .container
    article.info__article
      +image('content/avatar.png', 'info__img')
      .info__block
        .info__block-pretitle Привет, меня зовут
        .info__block-title Владимир Астаханов
        .info__block-text Я занимаюсь разработкой современных сайтов и&nbsp;приложений. Мне нравится делать интересные и&nbsp;современные проекты.
      ul.info__facts
        li.info__fact
          span.info__fact-cat Проживаю:
          | Новосибирск
        li.info__fact
          span.info__fact-cat Возраст:
          | 27 лет
        li.info__fact
          span.info__fact-cat Родился:
          | 1 января 1991
      p.info__ps Этот сайт я&nbsp;сделал в&nbsp;рамках обучения в&nbsp;Школе онлайн образования LoftSchool. Чуть позже я&nbsp;освежу в&nbsp;нём свой&nbsp;контент. А&nbsp;пока посмотрите, как&nbsp;тут всё&nbsp;классно и&nbsp;красиво!
