section.main#main
  .container.main__container
    include ./header.pug
    .main__wrapper
      p.main__pretitle Личный сайт веб&#8209разработчика
      p.main__title Владимир Астаханов
    .main__down-arrow
      a(href="#info").main__down-arrow-link.link Скролл
