- 
  var reviews = [
    {
      name: 'Ковальчук Дмитрий',
      position: 'Основатель Loftschool',
      img: 'review-1',
      text: 'Этот парень проходил обучение веб\u2011разработке не\u00A0где-то, а\u00A0в\u00A0LoftSchool! 4,5\u00A0месяца только самых тяжелых испытаний и\u00A0бессонных ночей!'
    },
    {
      name: 'Владимир Сабанцев',
      position: 'Преподавать',
      img: 'review-2',
      text: 'Этот код выдержит любые испытания. Только пожалуйста, не\u00A0загружайте сайт на\u00A0слишком старых браузерах'
    }
  ]

section.reviews#reviews
  include ./triangles.pug
  #reviews-component
