section.skills#skills 
  .container
    .skills__info
      h2.section__title.skills__title Чем я могу быть полезен вам
      p.skills__text Этот сайт я&nbsp;сделал в&nbsp;рамках обучения в&nbsp;Школе онлайн образования LoftSchool. Чуть позже я&nbsp;освежу в&nbsp;нём свой&nbsp;контент. А&nbsp;пока посмотрите, как&nbsp;тут всё&nbsp;классно и&nbsp;красиво!
      #skills-component
    .skills__img
