.top-bar
  .top-bar__wrapper
    p.top-bar__logo ВА
    +nav-list('top-bar__menu-list', 'top-bar__menu-item')
    +social-list('top-bar__social-list', 'top-bar__social-item', 'top-bar__social-img', false)
    include ./navigation.pug 
