.triangles
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__svg.triangles__svg-left
    polygon(points="0,0 0,100 1000,100")
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__svg.triangles__svg-right
    polygon(points="0,100 1000,100 1000,0")
